body {
  color: $font-color;
  font-family: $body-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font-stack;
}

p {
  color: currentColor;
}

a {
  color: $link-color;
  @include transition(color 0.3s ease-out);
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}
